*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-family: 'Roboto Slab', serif;
}

body {
  margin: 20px 0;
  /* background: #FDA937; */
  background: red;
}


h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.grid {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.front,
.back {
    height: 230px;
    width: 230px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background: #25215f url('../img/itd-logo.jpg') no-repeat center center;
}

.back {
    transform: rotateY(180deg);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: #25215f !important;
}

.game-over {
    color: white;
    background-color: #25215f;
    text-align: center;
    padding: 40px;
    max-width: 1440px;
    /* max-width: 900px; */
    margin: 0 auto;
}

.game-over .close-btn {
    float: right;
    font-size: 36px;
    margin-top: -25px;
    cursor: pointer;
}

.game-over h2 {
    font-size: 34px;
}

.game-over p {
    font-size: 28px;
}

.game-over button {
    display: block;
    margin: 30px auto;
}

.game-over .emoji {
    font-size:100px;
}

.btn {
    color: #fff;
    background-color: #fda937;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-xmas {
    background-color: #ef404a;
}

@media screen and (max-width: 1440px) {

    .grid {
        max-width: 1140px;
    }

    .game-over {
        max-width: 1130px;
    }

    .card,
    .front,
    .back {
        height: 180px;
        width: 180px;
    }

}